:root{
	--main-color:#466488;
	--bg-container:#eeeded;
	--certifications:#e2ac7f;
	--title-bg-color:#d1d1d1;
	--dark-to-light:#000000;
	--light-to-dark:#FFFFFF;
	--default-font-size:16px;
}
body.dark{
	--title-bg-color:#6d6d6d;
	--main-color:#a1bddf;
	--dark-to-light:#FFFFFF;
	--bg-container:#383838;
}
body{
	padding:0;
	font-size:var(--default-font-size);
	max-width:1220px;
	margin:auto;
}
#toggle{
	visibility: hidden;
}
.header{
	position: relative;
	padding-top:20px;
}
.change-mode{
	position: absolute;
	right:10px;
	top:0px;
}
.container{
	padding: 30px 20px 50px 20px;
    background: var(--bg-container);
	color:var(--main-color);
}
.staff-image img{
	width:100px;
}
.h-flex{
	display:flex;
	align-items: center;
	justify-content: space-between;
}
.staff-info a{
	text-decoration: none;
	display: block;
    padding-bottom: 10px;
}
.staff-info a, .inner-list{
	color:var(--dark-to-light);
}
.certifications a{
	color: var(--certifications);
}
.list-item-inner{
	list-style:none;
}
.list-item{
	border-left: 1px solid #c0bcbc;
    padding-left: 13px;
}
.item{
	padding-bottom: 10px;
}
.list-item h4{
	margin:0;
}
.projects a{
	color:var(--main-color);
}
.about section h3{
	background: var(--title-bg-color);
    padding-left: 10px;
}
.change-mode {
    position: absolute;
    right: 10px;
    border-radius: 20px;
    top: 0px;
    width: 50px;
    height: 18px;
    background: grey;
    border: none;
}
.change-item {
    width: 20px;
    border-radius: 20px;
    height: 14px;
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    background: white;
	transition: 0.4s;
}
body.dark .change-item {
   transform:translateX(-25px);
   background: #000000;
}
@media (max-width: 991px){
	:root{
		--default-font-size:14px;
	}
}