:root{
	--main-color:#466488;
	--background-container:#eeeded;
	--inner-list:#000;
	--certf-color:#e2ac7f;
	--sec-bg-color:#d1d1d1;
	--list-border:#c0bcbc;
}
body{
	padding:0;
	margin:0;
	font-size:16px;
	color:var(--main-color);
}
#body{
	max-width:1220px;
	margin:auto;
}
.container{
	padding: 30px 20px 50px 20px;
    background: var(--background-container);
}
.staff-image img{
	width:100px;
}
.h-flex{
	display:flex;
	align-items: center;
	justify-content: space-between;
}
.staff-info a{
	text-decoration: none;
	display: block;
    padding-bottom: 10px;
}
.staff-info a, .inner-list{
	color:var(--inner-list);
}
.certifications a{
	color: var(--certf-color);
}
.list-item-inner{
	list-style:none;
}
.list-item{
	border-left: 1px solid var(--list-border);
    padding-left: 13px;
}
.item{
	padding-bottom: 10px;
}
.list-item h4{
	margin:0;
}
.projects a{
	color:var(--main-color);
}
.about section h3{
	background: var(--sec-bg-color);
    padding-left: 10px;
}
